.agent/skills/n8n-manager/examples/json/3d_body_model.json
{
    "nodes": [
        {
            "parameters": {},
            "id": "8cc77575-854f-4359-8faa-fc78b8c23b65",
            "name": "When clicking ‘Test workflow’",
            "type": "n8n-nodes-base.manualTrigger",
            "position": [
                368,
                384
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "url": "=https://queue.fal.run/fal-ai/sam-3/requests/{{ $('Create 3D Image').item.json.request_id }}/status ",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "id": "0dc7e6b8-43b8-4b9a-aa7a-4a100598162f",
            "name": "Get status",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1440,
                384
            ],
            "typeVersion": 4.2,
            "credentials": {}
        },
        {
            "parameters": {
                "amount": 60
            },
            "id": "7540df1c-35e2-4ac5-871d-4d8410217979",
            "name": "Wait 60 sec.",
            "type": "n8n-nodes-base.wait",
            "position": [
                1264,
                384
            ],
            "webhookId": "e10e9912-38e7-4e1f-ad7e-52b1e6a65d79",
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes"
                        }
                    ]
                }
            },
            "id": "44c4b506-2a14-40ca-a75f-7af86ef5a9af",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "position": [
                368,
                240
            ],
            "typeVersion": 1.2
        },
        {
            "parameters": {
                "content": "## Automate 3D Body Model Generation from Images Using Fal AI & Google Sheets\nThis workflow automates the process of **generating 3D human body models** (in `.glb` format) from **single image** using  SAM-3D model. It operates by connecting a Google Sheet as a data source with the external AI processing API. \n\nSAM 3D allows for accurate 3D reconstruction of human body shape and position from a single image.\n\n### **How it works:**\n\nThis workflow automatically creates `.glb` 3D human body models from single images using SAM-3D API. It starts by fetching image URLs from a Google Sheet where the “3D RESULT” field is empty. Each image is sent to the API, which returns a `request_id` for job tracking. The workflow then polls the API at intervals to check job status, repeating until completion. When the model is ready, it retrieves the 3D file URL and downloads the `.glb` file. Finally, the workflow updates the corresponding Google Sheet row by writing the result URL to the “IMAGE RESULT” column, marking the process as complete.\n\n### **Setup steps:**\n\nClone the provided Google Sheet and add image URLs under “IMAGE MODEL,” leaving “IMAGE RESULT” empty. Connect n8n with Google Sheets using OAuth2 credentials for the **Get new image** and **Update result** nodes. Create an FAL.AI account to obtain an API key, then configure “HTTP Header Auth” credentials with `Authorization: Key YOUR_API_KEY_HERE` and assign them to all equest nodes. Verify each node’s filters, JSON references, and completion checks. Finally, test the workflow manually with one image before enabling the schedule trigger for automated execution.\n\n\n",
                "height": 488,
                "width": 1236
            },
            "id": "ca8b3bcd-3eb6-4723-b2ea-a973582d46af",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                544,
                -384
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## STEP 1 - GOOGLE SHEET\nClone [this Google Sheet](https://docs.google.com/spreadsheets/d/1C0Et6X3Zwr_6CxeNjhLpDwjAfIGeUvLGFawckKb0utY/edit?usp=sharing).\n\nPlease insert:\n- in the \"IMAGE MODEL\" column the basic image of the model to dress\n\nLeave the \"3D RESULT\" column unfilled. It will be inserted by the system once the image has been created",
                "height": 440,
                "width": 420,
                "color": 7
            },
            "id": "2230e7a5-225d-4538-b091-a9fbeedb1323",
            "name": "Sticky Note4",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                544,
                144
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "383d112e-2cc6-4dd4-8985-f09ce0bd1781",
                            "operator": {
                                "name": "filter.operator.equals",
                                "type": "string",
                                "operation": "equals"
                            },
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "COMPLETED"
                        }
                    ]
                },
                "options": {}
            },
            "id": "3aad3211-e6fc-4e4b-9c59-7dd82827a43b",
            "name": "Completed?",
            "type": "n8n-nodes-base.if",
            "position": [
                1616,
                384
            ],
            "typeVersion": 2.2
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "1C0Et6X3Zwr_6CxeNjhLpDwjAfIGeUvLGFawckKb0utY",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C0Et6X3Zwr_6CxeNjhLpDwjAfIGeUvLGFawckKb0utY/edit?usp=drivesdk",
                    "cachedResultName": "Image to 3D"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gid=0",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11ebWJvwwXHgvQld9kxywKQUvIoBw6xMa0g0BuIqHDxE/edit#gid=0",
                    "cachedResultName": "Foglio1"
                },
                "columns": {
                    "value": {
                        "row_number": "={{ $('Get new image').item.json.row_number }}",
                        "IMAGE RESULT": "={{ $('Get Url 3D image').item.json.model_glb.url }}"
                    },
                    "schema": [
                        {
                            "id": "IMAGE MODEL",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "IMAGE MODEL",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "IMAGE PRODUCT",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "IMAGE PRODUCT",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "PRODUCT ID",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "PRODUCT ID",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "IMAGE RESULT",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "IMAGE RESULT",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "row_number",
                            "type": "string",
                            "display": true,
                            "removed": false,
                            "readOnly": true,
                            "required": false,
                            "displayName": "row_number",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        }
                    ],
                    "mappingMode": "defineBelow",
                    "matchingColumns": [
                        "row_number"
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "6ad70838-dbf4-4cb1-9b61-4cf6e1fcdf6a",
            "name": "Update result",
            "type": "n8n-nodes-base.googleSheets",
            "position": [
                1600,
                704
            ],
            "typeVersion": 4.5,
            "credentials": {}
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "c713d31f-9abd-496a-ac79-e8e2efe60aa0",
                            "name": "image",
                            "type": "string",
                            "value": "={{ $json['IMAGE'] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "239b45b3-94cc-43a9-aa2e-2c85725f4cc0",
            "name": "Set data",
            "type": "n8n-nodes-base.set",
            "position": [
                816,
                384
            ],
            "typeVersion": 3.4
        },
        {
            "parameters": {
                "content": "## STEP 2 - GET FAL AI API KEY\nCreate an account [here](https://fal.ai/) and obtain API KEY.\nIn the node \"Create Image\" set \"Header Auth\" and set:\n- Name: \"Authorization\"\n- Value: \"Key YOURAPIKEY\"",
                "height": 444,
                "width": 772,
                "color": 7
            },
            "id": "d81f8aa0-3302-4a26-9425-aeb2a87674e7",
            "name": "Sticky Note6",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1008,
                144
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "1C0Et6X3Zwr_6CxeNjhLpDwjAfIGeUvLGFawckKb0utY",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C0Et6X3Zwr_6CxeNjhLpDwjAfIGeUvLGFawckKb0utY/edit?usp=drivesdk",
                    "cachedResultName": "Image to 3D"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gid=0",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C0Et6X3Zwr_6CxeNjhLpDwjAfIGeUvLGFawckKb0utY/edit#gid=0",
                    "cachedResultName": "Foglio1"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "3D RESULT"
                        }
                    ]
                },
                "options": {}
            },
            "id": "7061d7c1-7da8-473c-98a3-57dc15def557",
            "name": "Get new image",
            "type": "n8n-nodes-base.googleSheets",
            "position": [
                592,
                384
            ],
            "typeVersion": 4.5,
            "credentials": {}
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://queue.fal.run/fal-ai/sam-3/3d-body",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n     \"image_url\": \"{{ $json.image }}\",\n     \"export_meshes\": true,\n     \"include_3d_keypoints\": true\n}",
                "options": {}
            },
            "id": "edcdc4f0-4e7f-4fec-af9c-bbe8bf6bd8e6",
            "name": "Create 3D Image",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1040,
                384
            ],
            "typeVersion": 4.2,
            "credentials": {}
        },
        {
            "parameters": {
                "url": "=https://queue.fal.run/fal-ai/sam-3/requests/{{ $json.request_id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "id": "9ac6f843-090f-4c15-88e7-46ee494ed1b9",
            "name": "Get Url 3D image",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1040,
                704
            ],
            "typeVersion": 4.2,
            "credentials": {}
        },
        {
            "parameters": {
                "url": "={{ $json.model_glb.url }}",
                "options": {}
            },
            "id": "a02ac260-c88a-4c5a-9fc6-7230b95c462b",
            "name": "Get File 3D image",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1328,
                704
            ],
            "typeVersion": 4.2
        },
        {
            "parameters": {
                "content": "\n\n\n\n\n\n\n\n### Result \n![image](https://n3wstorage.b-cdn.net/n3witalia/golf-swing-result.png)",
                "height": 840,
                "width": 532,
                "color": 7
            },
            "id": "b929c14d-3f54-47d3-a3fc-c45b10c9e53e",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                2352,
                16
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## STEP 4 - Try the model\n\nTry .glb file on https://glb.ee/upload\n\n### Start\n![image](https://n3wstorage.b-cdn.net/n3witalia/golf-swing.jpg)",
                "height": 840,
                "width": 532,
                "color": 7
            },
            "id": "b936ab89-4d5e-4abc-b095-2a3a9686c85b",
            "name": "Sticky Note8",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1824,
                16
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## STEP 3 - GET 3D FILE\nGet .glb file and save the url to Google Drive",
                "height": 268,
                "width": 772,
                "color": 7
            },
            "id": "e2033d0e-f541-43ff-8a75-31a00df07169",
            "name": "Sticky Note7",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1008,
                608
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## My New YouTube Channel\n👉 [Subscribe to my new **YouTube channel**](https://youtube.com/@n3witalia). Here I’ll share videos and Shorts with practical tutorials and **FREE templates for n8n**.\n\n[![image](https://n3wstorage.b-cdn.net/n3witalia/youtube-n8n-cover.jpg)](https://youtube.com/@n3witalia)",
                "height": 784,
                "width": 800,
                "color": 7
            },
            "id": "ba37c6c1-84ac-4862-b9c3-d8c3e30f7274",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1824,
                -800
            ],
            "typeVersion": 1
        }
    ],
    "connections": {
        "When clicking ‘Test workflow’": {
            "main": [
                [
                    {
                        "node": "Get new image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get status": {
            "main": [
                [
                    {
                        "node": "Completed?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 60 sec.": {
            "main": [
                [
                    {
                        "node": "Get status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Completed?": {
            "main": [
                [
                    {
                        "node": "Get Url 3D image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait 60 sec.",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update result": {
            "main": [
                []
            ]
        },
        "Set data": {
            "main": [
                [
                    {
                        "node": "Create 3D Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get new image": {
            "main": [
                [
                    {
                        "node": "Set data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create 3D Image": {
            "main": [
                [
                    {
                        "node": "Wait 60 sec.",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Url 3D image": {
            "main": [
                [
                    {
                        "node": "Get File 3D image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get File 3D image": {
            "main": [
                [
                    {
                        "node": "Update result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "342399329b64a0d939d64f4d4ce7937b7d14ca0ca5b7915190fd5dbd6e8b5ddb",
        "templateCredsSetupCompleted": true
    }
}