.agent/skills/n8n-manager/examples/json/extrac_hacknews.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "2f6e390d-47d2-46c0-b032-00e1541a8def",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "all",
        "limit": "={{ $json.Count }}",
        "additionalFields": {}
      },
      "id": "da17296e-a0b0-423f-8f6a-6636f77ff79e",
      "name": "Hacker News",
      "type": "n8n-nodes-base.hackerNews",
      "position": [
        816,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8481d533-2ef1-4e97-afe1-8f182d17b390",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1040,
        240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "5d88db37-0e3b-4900-af10-78a4f7152231",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1696,
        480
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "={{ $('Set the url, author').item.json.author }}-HackerNews"
      },
      "id": "0fcf5b56-87f8-4dca-9478-7f0753c195e7",
      "name": "Create a Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        2080,
        272
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 2,
      "alwaysOutputData": false,
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Extract Human Readable Data').item.json.text }}"
            }
          ]
        }
      },
      "id": "2855e7e7-ea99-4acc-901a-54bffa7b3113",
      "name": "Update Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        2256,
        272
      ],
      "typeVersion": 2,
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52ddafbb-536f-45d6-9697-7ddf5b9b3869",
              "name": "Count",
              "type": "string",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "ef59d4a1-4176-4702-996d-5a710b432b4b",
      "name": "Set the Input Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Step 1\n\nSet the input field with the \"Count\", how many record needs to be feteched."
      },
      "id": "aa74a371-94cf-4a0b-93d9-fd503f1abbed",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 2\n\nSet the Google Gemini Credentials as part of the human readable data extraction"
      },
      "id": "79674295-f331-4e5b-81d4-09d45aedb883",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract a human readable content. \n\nHere's the context :\n\n{{ $json.data }}",
        "batching": {}
      },
      "id": "80ed14eb-6ead-46d8-81d0-5502cb5f44db",
      "name": "Extract Human Readable Data",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1728,
        272
      ],
      "retryOnFail": true,
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "## Extract Structured Data from Hacker News, Export to Google Docs with Google Gemini\n\nHacker news data extraction with Google Gemini. Export the clean data to Google Document.",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "id": "d922ad6e-0959-465f-810f-3f0e8d8a3626",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 3\n\nSet the Google Document Credentials for the Hacker News data export"
      },
      "id": "79f3eca6-df7d-4e72-816e-b17452f476b5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Hacker News Data Extraction",
        "height": 520,
        "width": 1060,
        "color": 5
      },
      "id": "b3cfee88-735c-4474-b7c0-75511d44e26c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## LLM Usages\n\nGoogle Gemini -> Gemini 2.0 Flash Exp Model",
        "height": 120,
        "width": 540,
        "color": 3
      },
      "id": "36302c89-82a4-4098-9ca6-7822bb4d6c33",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "267f21f5-d483-4e74-9773-b1d8a02dd984",
              "name": "author",
              "type": "string",
              "value": "={{ $json.author }}"
            },
            {
              "id": "667a3ffb-a07c-4f66-b253-a7c64b2aa8e0",
              "name": "url",
              "type": "string",
              "value": "={{ $json._highlightResult.url.value }}"
            }
          ]
        },
        "options": {}
      },
      "id": "80c3a993-6c82-43c9-9612-e20e989012ef",
      "name": "Set the url, author",
      "type": "n8n-nodes-base.set",
      "position": [
        1248,
        272
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "ad6eb942-17a1-48af-9d41-f728c9127106",
      "name": "Create an HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1472,
        272
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set the Input Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set the url, author",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Human Readable Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a Google Doc": {
      "main": [
        [
          {
            "node": "Update Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Docs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the Input Fields": {
      "main": [
        [
          {
            "node": "Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Human Readable Data": {
      "main": [
        [
          {
            "node": "Create a Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the url, author": {
      "main": [
        [
          {
            "node": "Create an HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an HTTP Request": {
      "main": [
        [
          {
            "node": "Extract Human Readable Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "342399329b64a0d939d64f4d4ce7937b7d14ca0ca5b7915190fd5dbd6e8b5ddb",
    "templateCredsSetupCompleted": true
  }
}