workflows/improved_job_alerts_ultimate_fixed.json
{
    "name": "Daily Job Alerts - Ultimate Fixed",
    "nodes": [
        {
            "parameters": {
                "triggerTimes": {
                    "item": [
                        {
                            "hour": 7
                        }
                    ]
                }
            },
            "id": "796f2a8f-b615-42c1-8f7a-f33c5a80bb62",
            "name": "Daily Cron",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                -624,
                144
            ]
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -688,
                336
            ],
            "id": "3e08fb29-89c2-4985-8830-18e4310ec2a4",
            "name": "When clicking 'Execute workflow'"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.theirstack.com/v1/jobs/search",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJyYXVsaXNhaTk3QGdtYWlsLmNvbSIsInBlcm1pc3Npb25zIjoidXNlciIsImNyZWF0ZWRfYXQiOiIyMDI2LTAxLTE4VDE3OjM4OjE5LjkxNzkzOSswMDowMCJ9.r1UrCPRS1haouamG2ES1dhDBw-7s9S1bkbgOWeD5DTQ"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"include_total_results\": false,\n  \"posted_at_max_age_days\": 1,\n  \"job_country_code_or\": [\n    \"US\",\n    \"MX\"\n  ],\n  \"job_title_or\": [\n    \"IA Engineer\",\n    \"Data Scientist\",\n    \"Machine Learning Engineer\",\n    \"ML Ops Engineer\",\n    \"Data Engineer\",\n    \"Cloud Engineer\",\n    \"MLOps\",\n    \"DevOps\",\n    \"DevSecOps\"\n  ],\n  \"job_description_contains_or\": [\n    \"Universitario sin título\",\n    \"equivalent hands-on experience\",\n    \"quivalent professional experience\",\n    \"equivalent practical experience\"\n  ],\n  \"page\": 0,\n  \"limit\": 5,\n  \"blur_company_data\": false\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -368,
                304
            ],
            "id": "14f0fc7a-4758-4954-bd2a-b210d0e8d641",
            "name": "Theirstack API Request",
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "check_api_success",
                            "leftValue": "={{ $json.data }}",
                            "rightValue": "",
                            "operator": {
                                "type": "array",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-api-response",
            "name": "IF: API Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -144,
                304
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const items = $input.all();\nconst allJobs = [];\n\nfor (const item of items) {\n  const jobs = item.json.data || [];\n  allJobs.push(...jobs);\n}\n\nreturn allJobs.map(job => ({ json: job }));"
            },
            "id": "extract-jobs",
            "name": "Code: Extract Jobs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                64,
                208
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "check_jobs_exist",
                            "leftValue": "={{ $input.first().json }}",
                            "rightValue": "",
                            "operator": {
                                "type": "object",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-jobs-exist",
            "name": "IF: Jobs Found?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                272,
                208
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const cvSkills = [\n  'python', 'sql', 'aws', 'lambda', 's3', 'airflow',\n  'pyspark', 'spark', 'hadoop', 'kubernetes',\n  'terraform', 'linux', 'bash', 'jenkins', 'ansible',\n  'docker', 'kafka'\n];\n\nfunction escapeMarkdown(text) {\n  if (!text) return 'No especificado';\n  return String(text).replace(/[_*\\[\\]()~`>#+\\-=|{}.!\\\\]/g, '\\\\$&');\n}\n\nfunction escapeUrl(url) {\n  if (!url) return 'https://example.com';\n  return String(url).replace(/\\)/g, '\\\\)');\n}\n\nfunction matchScore(job) {\n  const techs = job.technology_slugs || [];\n  const matched = techs.filter(t => cvSkills.includes(t.toLowerCase()));\n  const percentage = Math.round((matched.length / cvSkills.length) * 100);\n  return {\n    percentage,\n    matched: matched.length,\n    total: cvSkills.length,\n    matchedNames: matched\n  };\n}\n\nfunction getSalary(job) {\n  if (job.salary_string) return escapeMarkdown(job.salary_string);\n  if (job.min_annual_salary_usd && job.max_annual_salary_usd) {\n    return `$${escapeMarkdown(job.min_annual_salary_usd.toLocaleString())} \\\\- $${escapeMarkdown(job.max_annual_salary_usd.toLocaleString())} USD`;\n  }\n  return 'No especificado';\n}\n\nfunction getShortSummary(desc) {\n  if (!desc) return 'Sin descripción';\n  const clean = desc.replace(/\\n/g, ' ').replace(/[*#_`\\[\\]]/g, '').replace(/\\s+/g, ' ').trim();\n  return clean.length > 200 ? escapeMarkdown(clean.slice(0, 200)) + '\\\\.\\\\.\\\\.' : escapeMarkdown(clean);\n}\n\nconst job = $input.item.json;\nconst score = matchScore(job);\nconst emoji = score.percentage >= 80 ? '🔥' : (score.percentage >= 50 ? '⭐' : '📌');\n\nconst message = [\n  `${emoji} *${escapeMarkdown(job.job_title)}*`,\n  `🏢 *Empresa:* ${escapeMarkdown(job.company)}`,\n  `📍 *Ubicación:* ${escapeMarkdown(job.short_location || job.country)}${job.remote ? ' \\\\(Remoto\\\\)' : ''}`,\n  `🎯 *Encaje:* ${score.percentage}% \\\\(${score.matched}/${score.total} skills\\\\)`,\n  score.matchedNames.length > 0 ? `✅ *Skills:* ${escapeMarkdown(score.matchedNames.join(', '))}` : '',\n  `💰 *Salario:* ${getSalary(job)}`,\n  `🛠️ *Techs:* ${escapeMarkdown(job.technology_slugs?.slice(0,6).join(', ') || 'N/A')}`,\n  `📋 *Resumen:* ${getShortSummary(job.description)}`,\n  `🔗 [Ver oferta completa](${escapeUrl(job.final_url || job.url)})`\n].filter(p => p !== '').join('\\n\\n');\n\nreturn { \n  json: { \n    message: message.length > 4000 ? message.slice(0, 3950) + '\\\\.\\\\.\\\\.' : message,\n    match_score: score.percentage,\n    job_title: job.job_title || 'Trabajo sin título',\n    company: job.company || 'Empresa no especificada'\n  } \n};"
            },
            "id": "format-job-message",
            "name": "Code: Format Job Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                464,
                80
            ]
        },
        {
            "parameters": {
                "chatId": "7110706136",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "MarkdownV2",
                    "disable_web_page_preview": false
                }
            },
            "id": "send-job-telegram",
            "name": "Telegram: Send Job",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                672,
                80
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "function escapeMarkdown(text) {\n  if (!text) return 'N/A';\n  return String(text).replace(/[_*\\[\\]()~`>#+\\-=|{}.!\\\\]/g, '\\\\$&');\n}\n\nconst items = $input.all();\nconst total = items.length;\nlet avg = 0;\nlet topTitle = 'N/A';\nlet topCompany = 'N/A';\nlet topScore = 0;\n\nif (total > 0) {\n  // Calculating average from input items\n  const scores = items.map(i => i.json.match_score || 0);\n  avg = Math.round(scores.reduce((s, c) => s + c, 0) / scores.length);\n\n  // Finding the top job item\n  const topItem = items.reduce((max, curr) => (curr.json.match_score || 0) > (max.json.match_score || 0) ? curr : max, items[0]);\n  topTitle = topItem.json.job_title || 'N/A';\n  topCompany = topItem.json.company || 'N/A';\n  topScore = topItem.json.match_score || 0;\n}\n\n// IMPORTANT: NO DOTS AFTER ESCAPED WORDS WITHOUT ESCAPING THE DOT TOO\nconst message = [\n  '📊 *Resumen Diario*',\n  `✅ Trabajos: *${total}*`,\n  `📈 Encaje prom\\\\.: *${avg}%*`, \n  '',\n  '🏆 *Mejor Opción:*',\n  `${escapeMarkdown(topTitle)} @ ${escapeMarkdown(topCompany)}`,\n  `🎯 Puntuación: *${topScore}%*`,\n  '',\n  '_¡Buena suerte con las aplicaciones\\\\!_'\n].join('\\n');\n\nreturn { json: { message } };"
            },
            "id": "create-summary",
            "name": "Code: Create Summary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                864,
                80
            ]
        },
        {
            "parameters": {
                "chatId": "7110706136",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "MarkdownV2"
                }
            },
            "id": "send-summary-telegram",
            "name": "Telegram: Send Summary",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1072,
                80
            ]
        },
        {
            "parameters": {
                "chatId": "7110706136",
                "text": "⚠️ *Error de Conexión*\\nNo se pudieron obtener datos de la API de Theirstack\\.",
                "additionalFields": {
                    "parse_mode": "MarkdownV2"
                }
            },
            "id": "send-api-error",
            "name": "Telegram: API Error",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                64,
                416
            ]
        },
        {
            "parameters": {
                "chatId": "7110706136",
                "text": "🚨 *Aviso Diario*\\nNo se encontraron nuevas vacantes con tus criterios hoy\\.",
                "additionalFields": {
                    "parse_mode": "MarkdownV2"
                }
            },
            "id": "send-no-jobs",
            "name": "Telegram: No Jobs",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                464,
                320
            ]
        }
    ],
    "connections": {
        "Daily Cron": {
            "main": [
                [
                    {
                        "node": "Theirstack API Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When clicking 'Execute workflow'": {
            "main": [
                [
                    {
                        "node": "Theirstack API Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Theirstack API Request": {
            "main": [
                [
                    {
                        "node": "IF: API Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF: API Success?": {
            "main": [
                [
                    {
                        "node": "Code: Extract Jobs",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Telegram: API Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code: Extract Jobs": {
            "main": [
                [
                    {
                        "node": "IF: Jobs Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF: Jobs Found?": {
            "main": [
                [
                    {
                        "node": "Code: Format Job Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Telegram: No Jobs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code: Format Job Message": {
            "main": [
                [
                    {
                        "node": "Telegram: Send Job",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram: Send Job": {
            "main": [
                [
                    {
                        "node": "Code: Create Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code: Create Summary": {
            "main": [
                [
                    {
                        "node": "Telegram: Send Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}